<section id="banner">
    <div class="banner-img-overlay p-5 ">
        <p class="display-5 lh-sm">
            Uplift your skincare routine with our amazing products range.
        </p>
    </div>
</section>

<!-- banner-image: https://www.pexels.com/photo/makeup-products-on-purple-surface-7712467/ -->